In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import statsmodels
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint, adfuller

In [2]:
#http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/fixing-column-names-in-pandas/
df = pd.read_csv('defaults.csv') #2015 3-Year Cohort Default Rates

In [3]:
defaults = pd.read_csv('defaults.csv',skiprows=2, names=df.iloc[0])
defaults

,OPEID,SCHOOL,Address,City,STATE,State Desc,Zip Code,Zip Ext,Prog Length,LONGEST PROGRAM LENGTH,School Type,SCHOOL TYPE,COHORT YEAR,NUMBER IN DEFAULT,NUMBER ENTERING REPAYMENT,DEFAULT RATE
0,1002,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,4900 MERIDIAN STREET ...,NORMAL,AL,ALABAMA ...,35762,1357,8,Master's Degree or Doctor's Degree,1,Public,2015,378,1902,19.8
1,1003,FAULKNER UNIVERSITY ...,5345 ATLANTA HIGHWAY ...,MONTGOMERY,AL,ALABAMA ...,36109,3398,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,180,1471,12.2
2,1004,UNIVERSITY OF MONTEVALLO ...,PALMER CIRCLE ...,MONTEVALLO,AL,ALABAMA ...,35115,6000,8,Master's Degree or Doctor's Degree,1,Public,2015,72,784,9.1
3,1005,ALABAMA STATE UNIVERSITY ...,915 SOUTH JACKSON STREET ...,MONTGOMERY,AL,ALABAMA ...,36104,5714,8,Master's Degree or Doctor's Degree,1,Public,2015,466,2208,21.1
4,1007,CENTRAL ALABAMA COMMUNITY COLLEGE ...,1675 CHEROKEE ROAD ...,ALEXANDER CITY,AL,ALABAMA ...,35010,0,5,Associate's Degree,1,Public,2015,131,579,22.6
5,1008,ATHENS STATE UNIVERSITY ...,300 NORTH BEATY STREET ...,ATHENS,AL,ALABAMA ...,35611,1999,8,Master's Degree or Doctor's Degree,1,Public,2015,66,924,7.1
6,1009,AUBURN UNIVERSITY ...,107 SAMFORD HALL ...,AUBURN,AL,ALABAMA ...,36849,5113,8,Master's Degree or Doctor's Degree,1,Public,2015,114,3750,3.0
7,1012,BIRMINGHAM-SOUTHERN COLLEGE ...,900 ARKADELPHIA ROAD ...,BIRMINGHAM,AL,ALABAMA ...,35254,2,6,Bachelor's Degree,2,Nonprofit,2015,15,227,6.6
8,1013,CALHOUN COMMUNITY COLLEGE ...,6250 HIGHWAY 31 NORTH ...,TANNER,AL,ALABAMA ...,35671,0,5,Associate's Degree,1,Public,2015,433,2489,17.3
9,1015,ENTERPRISE STATE COMMUNITY COLLEGE ...,600 PLAZA DRIVE ...,ENTERPRISE,AL,ALABAMA ...,36331,1300,5,Associate's Degree,1,Public,2015,79,377,20.9
10,1016,UNIVERSITY OF NORTH ALABAMA ...,ONE HARRISON PLAZA ...,FLORENCE,AL,ALABAMA ...,35632,1,8,Master's Degree or Doctor's Degree,1,Public,2015,149,1547,9.6
11,1019,HUNTINGDON COLLEGE ...,1500 EAST FAIRVIEW AVENUE ...,MONTGOMERY,AL,ALABAMA ...,36106,2148,6,Bachelor's Degree,2,Nonprofit,2015,39,360,10.8
12,1020,JACKSONVILLE STATE UNIVERSITY ...,"700 PELHAM ROAD, NORTH ...",JACKSONVILLE,AL,ALABAMA ...,36265,1602,8,Master's Degree or Doctor's Degree,1,Public,2015,292,2454,11.8
13,1022,JEFFERSON STATE COMMUNITY COLLEGE ...,2601 CARSON ROAD ...,BIRMINGHAM,AL,ALABAMA ...,35215,3098,5,Associate's Degree,1,Public,2015,205,1568,13.0
14,1023,JUDSON COLLEGE ...,302 BIBB STREET ...,MARION,AL,ALABAMA ...,36756,2504,6,Bachelor's Degree,2,Nonprofit,2015,21,132,15.9
15,1024,UNIVERSITY OF WEST ALABAMA ...,205 NORTH WASHINGTON ...,LIVINGSTON,AL,ALABAMA ...,35470,0,8,Master's Degree or Doctor's Degree,1,Public,2015,149,1889,7.8
16,1026,MARION MILITARY INSTITUTE ...,1101 WASHINGTON STREET ...,MARION,AL,ALABAMA ...,36756,3214,5,Associate's Degree,1,Public,2015,22,204,10.7
17,1028,MILES COLLEGE ...,5500 MYRON MASSEY BOULEVARD ...,FAIRFIELD,AL,ALABAMA ...,35064,2697,6,Bachelor's Degree,2,Nonprofit,2015,87,774,11.2
18,1029,UNIVERSITY OF MOBILE ...,5735 COLLEGE PARKWAY ...,MOBILE,AL,ALABAMA ...,36663,220,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,39,574,6.7
19,1031,NORTHEAST ALABAMA COMMUNITY COLLEGE ...,138 HIGHWAY 35 138 ALABAM...,RAINSVILLE,AL,ALABAMA ...,35986,159,5,Associate's Degree,1,Public,2015,50,330,15.1
20,1033,OAKWOOD UNIVERSITY ...,"7000 ADVENTIST BOULEVARD, NORTHWEST ...",HUNTSVILLE,AL,ALABAMA ...,35896,1,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,85,616,13.7
21,1036,SAMFORD UNIVERSITY ...,800 LAKESHORE DRIVE ...,BIRMINGHAM,AL,ALABAMA ...,35229,7000,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,18,914,1.9
22,1038,SNEAD STATE COMMUNITY COLLEGE ...,220 NORTH WALNUT STREET ...,BOAZ,AL,ALABAMA ...,35957,734,5,Associate's Degree,1,Public,2015,102,394,25.8
23,1040,SOUTHERN UNION STATE COMMUNITY COLLEGE ...,750 ROBERTS STREET ...,WADLEY,AL,ALABAMA ...,36276,0,5,Associate's Degree,1,Public,2015,153,915,16.7
24,1041,SPRING HILL COLLEGE ...,4000 DAUPHIN STREET ...,MOBILE,AL,ALABAMA ...,36608,1791,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,23,369,6.2
25,1044,STILLMAN COLLEGE ...,3601 STILLMAN BOULEVARD ...,TUSCALOOSA,AL,ALABAMA ...,35401,1430,6,Bachelor's Degree,2,Nonprofit,2015,93,406,22.9
26,1046,TALLADEGA COLLEGE ...,627 WEST BATTLE STREET ...,TALLADEGA,AL,ALABAMA ...,35160,2354,6,Bachelor's Degree,2,Nonprofit,2015,80,250,32.0
27,1047,TROY UNIVERSITY ...,UNIVERSITY AVENUE ADAMS ADMIN...,TROY,AL,ALABAMA ...,36082,1,8,Master's Degree or Doctor's Degree,1,Public,2015,747,7139,10.4
28,1050,TUSKEGEE UNIVERSITY ...,308 KRESGE CENTER ...,TUSKEGEE INSTITUTE,AL,ALABAMA ...,36088,1645,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,101,876,11.5
29,1051,UNIVERSITY OF ALABAMA ...,801 UNIVERSITY BOULEVARD ROSE ADMINI...,TUSCALOOSA,AL,ALABAMA ...,35487,120,8,Master's Degree or Doctor's Degree,1,Public,2015,306,5814,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4843,42210,"STANDARD HEALTHCARE SERVICES, COLLEGE OF NURSI...",7704 LEESBURG PIKE ...,FALLS CHURCH,VA,VIRGINIA ...,22043,0,5,Associate's Degree,3,For-Profit,2015,3,74,4.0
4844,42211,NEW HORIZONS MEDICAL INSTITUTE ...,5675 JIMMY CARTER BOULEVARD SUITE J ...,NORCROSS,GA,GEORGIA ...,30071,2965,11,Non-Degree 3 Plus Years (? 2700 hours),3,For-Profit,2015,5,148,3.3
4845,42213,PHILADELPHIA TECHNICIAN TRAINING INSTITUTE ...,7446 D OGONTZ AVENUE ...,PHILADELPHIA,PA,PENNSYLVANIA ...,19138,1324,3,Non-Degree 1 Year (900-1799 hours),2,Nonprofit,2015,15,97,15.4
4846,42214,PAUL MITCHELL THE SCHOOL DENVER ...,405 SOUTH TELLER STREET ...,LAKEWOOD,CO,COLORADO ...,80226,7395,4,Non-Degree 2 Years (1800-2699 hours),3,For-Profit,2015,9,48,18.7
4847,42218,TONI & GUY HAIRDRESSING ACADEMY ...,1019 SOUTH MAIN STREET ...,MANTECA,CA,CALIFORNIA ...,95337,5703,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,7,56,12.5
4848,42222,FAB SCHOOL (THE) ...,9571 PITTSBURGH AVENUE ...,RANCHO CUCAMONGA,CA,CALIFORNIA ...,91730,9114,2,Non-Degree (600-899 hours),3,For-Profit,2015,6,41,14.6
4849,42231,ARROJO COSMETOLOGY SCHOOL ...,200 HUDSON STREET ...,NEW YORK,NY,NEW YORK ...,10013,1807,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,4,45,8.8
4850,42238,ELECTRICAL TRAINING CENTER (THE) ...,65 ELM STREET ...,COPIAGUE,NY,NEW YORK ...,11726,2701,2,Non-Degree (600-899 hours),3,For-Profit,2015,5,45,11.1
4851,42241,COSMETOLOGY ACADEMY OF TEXARKANA ...,4115 NORTH KINGS HIGHWAY SUITE 110 ...,TEXARKANA,TX,TEXAS ...,75503,4855,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,13,48,27.0
4852,42245,TRENZ BEAUTY ACADEMY ...,695 WENTWORTH AVENUE ...,CALUMET CITY,IL,ILLINOIS ...,60409,0,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,4,34,11.7
4853,42246,BARBER SCHOOL OF PITTSBURGH ...,143 STEUBEN STREET ...,PITTSBURGH,PA,PENNSYLVANIA ...,15220,5537,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,9,39,23.0
4854,42264,MT TRAINING CENTER ...,1801 SOUTH GREAT SOUTHWEST PARKWAY ...,GRAND PRAIRIE,TX,TEXAS ...,75051,3542,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,20,61,32.7
4855,42281,HIGH DESERT MEDICAL COLLEGE ...,"701 WEST AVENUE K, SUITE 123 ...",LANCASTER,CA,CALIFORNIA ...,93534,1134,4,Non-Degree 2 Years (1800-2699 hours),3,For-Profit,2015,5,124,4.0
4856,42293,MEDQUEST COLLEGE ...,10400 LINN STATION ROAD SUITE 120 ...,LOUISVILLE,KY,KENTUCKY ...,40223,3836,5,Associate's Degree,3,For-Profit,2015,13,107,12.1
4857,42295,TEXAS A&M UNIVERSITY - CENTRAL TEXAS ...,1001 LEADERSHIP PLACE ...,KILLEEN,TX,TEXAS ...,76549,5901,8,Master's Degree or Doctor's Degree,1,Public,2015,21,215,9.7
4858,42309,RICCI'S TONI & GUY HAIRDRESSING ACADEMY/ TIGI ...,99 SOUTH MAIN STREET ...,NEWTOWN,CT,CONNECTICUT ...,6470,0,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,6,36,16.6
4859,42329,PREPARING PEOPLE BARBER STYLING COLLEGE ...,3125 MARTIN LUTHER KING JR BLVD ...,DALLAS,TX,TEXAS ...,75215,2415,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,5,31,16.1
4860,42331,ARIZONA SCHOOL OF INTEGRATIVE STUDIES ...,639 NORTH SIXTH AVENUE ...,TUCSON,AZ,ARIZONA ...,85705,8330,2,Non-Degree (600-899 hours),3,For-Profit,2015,1,52,1.9
4861,42337,CHRISTINE VALMY INTERNATIONAL SCHOOL FORESTHET...,1501 BROADWAY ...,NEW YORK,NY,NEW YORK ...,10036,5501,2,Non-Degree (600-899 hours),3,For-Profit,2015,6,71,8.4
4862,42355,PRESIDIO GRADUATE SCHOOL ...,1202 RALSTON AVENUE SUITE 300-P...,SAN FRANCISCO,CA,CALIFORNIA ...,94129,1749,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,64,1795,3.5
4863,42371,SALON PROFESSIONAL ACADEMY (THE) ...,1600 SARATOGA AVENUE SUITE 103 ...,SAN JOSE,CA,CALIFORNIA ...,95129,5101,3,Non-Degree 1 Year (900-1799 hours),3,For-Profit,2015,3,33,9.0
4864,42421,UNIVERSITY OF NORTH TEXAS AT DALLAS ...,7300 UNIVERSITY HILLS BOULEVARD ...,DALLAS,TX,TEXAS ...,75241,4600,8,Master's Degree or Doctor's Degree,1,Public,2015,1267,17303,7.3
4865,42485,TEXAS A&M UNIVERSITY-SAN ANTONIO ...,ONE UNIVERSITY WAY ...,SAN ANTONIO,TX,TEXAS ...,78224,3134,8,Master's Degree or Doctor's Degree,1,Public,2015,309,3357,9.2
4866,42509,INTER AMERICAN UNIVERSITY OF PUERTO RICO - SCH...,170 FEDERICO COSTA STREET ...,HATO REY,PR,PUERTO RICO ...,936,8351,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,1513,16416,9.2
4867,42527,PACIFIC RIM CHRISTIAN UNIVERSITY ...,2223 HOONEE PLACE ...,HONOLULU,HI,HAWAII ...,96819,2228,6,Bachelor's Degree,2,Nonprofit,2015,7,95,7.3
4868,42534,CLOVIS COMMUNITY COLLEGE ...,10309 NORTH WILLOW AVENUE ...,FRESNO,CA,CALIFORNIA ...,93730,5401,5,Associate's Degree,1,Public,2015,35,225,15.5
4869,42542,INTER AMERICAN UNIVERSITY OF PUERTO RICO SAN G...,AVENIDA INTERAMERICANA CARRATERA 1...,SAN GERMAN,PR,PUERTO RICO ...,683,9801,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,1888,23711,7.9
4870,42544,ARKANSAS STATE UNIVERSITY - MOUNTAIN HOME ...,1600 SOUTH COLLEGE STREET ...,MOUNTAIN HOME,AR,ARKANSAS ...,72653,5326,5,Associate's Degree,1,Public,2015,1080,13866,7.7
4871,42636,NORTHEAST LAKEVIEW COLLEGE ...,1201 KITTY HAWK ROAD ...,UNIVERSAL CITY,TX,TEXAS ...,78148,3789,5,Associate's Degree,1,Public,2015,148,1353,10.9
4872,42788,LOS ANGELES PACIFIC UNIVERSITY ...,300 NORTH LONE HILL AVENUE SUITE 200 ...,SAN DIMAS,CA,CALIFORNIA ...,91773,1741,8,Master's Degree or Doctor's Degree,2,Nonprofit,2015,123,3593,3.4

In [4]:
crc = pd.read_csv('crc.csv',skiprows=0)
crc.head()

,"Rank,",College/University,",",Average Early Career Pay,",.1",Average Student Loan Debt,",.2",College Risk Reward Indicator
0,"1,",Princeton University,",","$61,300",",","$6,600",",9.29",NaN
1,"2,",CUNY – Bernard M Baruch College,",","$50,700",",","$5,511",",9.20",NaN
2,"3,",CUNY – Queens College,",","$43,100",",","$4,745",",9.08",NaN
3,"4,",Eastern New Mexico University – Main Campus,",","$35,800",",","$4,895",",7.31",NaN
4,"5,",California Institute of Technology (Caltech),",","$72,600",",","$12,104",",6.00",NaN

In [5]:
crc["Rank,"]= crc["Rank,"].str.replace(',', '')
crc = crc.rename(columns={'Rank,':'Rank','College/University': 'College', ',.2': 'College Risk Reward Indicator'})
crc.head()

,Rank,College,",",Average Early Career Pay,",.1",Average Student Loan Debt,College Risk Reward Indicator,College Risk Reward Indicator
0,1,Princeton University,",","$61,300",",","$6,600",",9.29",NaN
1,2,CUNY – Bernard M Baruch College,",","$50,700",",","$5,511",",9.20",NaN
2,3,CUNY – Queens College,",","$43,100",",","$4,745",",9.08",NaN
3,4,Eastern New Mexico University – Main Campus,",","$35,800",",","$4,895",",7.31",NaN
4,5,California Institute of Technology (Caltech),",","$72,600",",","$12,104",",6.00",NaN

In [6]:
crc1=crc[['College','Rank','Average Early Career Pay','Average Student Loan Debt']]

In [7]:
crc1["Credit Risk Reward Indicator"]=crc.iloc[:,6]
crc1.head()

C:\Users\psimp\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,College,Rank,Average Early Career Pay,Average Student Loan Debt,Credit Risk Reward Indicator
0,Princeton University,1,"$61,300","$6,600",",9.29"
1,CUNY – Bernard M Baruch College,2,"$50,700","$5,511",",9.20"
2,CUNY – Queens College,3,"$43,100","$4,745",",9.08"
3,Eastern New Mexico University – Main Campus,4,"$35,800","$4,895",",7.31"
4,California Institute of Technology (Caltech),5,"$72,600","$12,104",",6.00"

In [8]:
crc1["Credit Risk Reward Indicator"]= crc1["Credit Risk Reward Indicator"].str.replace(',', '')

C:\Users\psimp\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
CRC=crc1
CRC.head()

,College,Rank,Average Early Career Pay,Average Student Loan Debt,Credit Risk Reward Indicator
0,Princeton University,1,"$61,300","$6,600",9.29
1,CUNY – Bernard M Baruch College,2,"$50,700","$5,511",9.20
2,CUNY – Queens College,3,"$43,100","$4,745",9.08
3,Eastern New Mexico University – Main Campus,4,"$35,800","$4,895",7.31
4,California Institute of Technology (Caltech),5,"$72,600","$12,104",6.00

In [10]:
Default=defaults.iloc[:,[1,4,9,11,13,14,15]]
Default.head()

,SCHOOL,STATE,LONGEST PROGRAM LENGTH,SCHOOL TYPE,NUMBER IN DEFAULT,NUMBER ENTERING REPAYMENT,DEFAULT RATE
0,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY ...,AL,Master's Degree or Doctor's Degree,Public,378,1902,19.8
1,FAULKNER UNIVERSITY ...,AL,Master's Degree or Doctor's Degree,Nonprofit,180,1471,12.2
2,UNIVERSITY OF MONTEVALLO ...,AL,Master's Degree or Doctor's Degree,Public,72,784,9.1
3,ALABAMA STATE UNIVERSITY ...,AL,Master's Degree or Doctor's Degree,Public,466,2208,21.1
4,CENTRAL ALABAMA COMMUNITY COLLEGE ...,AL,Associate's Degree,Public,131,579,22.6

In [20]:
#Format for fuzzy
Default["SCHOOL"]=Default["SCHOOL"].str.lower().str.title()
print(Default)

                                                 SCHOOL STATE  \
0     Alabama Agricultural & Mechanical University  ...    AL
1     Faulkner University                           ...    AL
2     University Of Montevallo                      ...    AL
3     Alabama State University                      ...    AL
4     Central Alabama Community College             ...    AL
5     Athens State University                       ...    AL
6     Auburn University                             ...    AL
7     Birmingham-Southern College                   ...    AL
8     Calhoun Community College                     ...    AL
9     Enterprise State Community College            ...    AL
10    University Of North Alabama                   ...    AL
11    Huntingdon College                            ...    AL
12    Jacksonville State University                 ...    AL
13    Jefferson State Community College             ...    AL
14    Judson College                                ...    AL
15    University Of West Alabama                    ...    AL
16    Marion Military Institute                     ...    AL
17    Miles College                                 ...    AL
18    University Of Mobile                          ...    AL
19    Northeast Alabama Community College           ...    AL
20    Oakwood University                            ...    AL
21    Samford University                            ...    AL
22    Snead State Community College                 ...    AL
23    Southern Union State Community College        ...    AL
24    Spring Hill College                           ...    AL
25    Stillman College                              ...    AL
26    Talladega College                             ...    AL
27    Troy University                               ...    AL
28    Tuskegee University                           ...    AL
29    University Of Alabama                         ...    AL
...                                                 ...   ...
4843  Standard Healthcare Services, College Of Nursi...    VA
4844  New Horizons Medical Institute                ...    GA
4845  Philadelphia Technician Training Institute    ...    PA
4846  Paul Mitchell The School Denver               ...    CO
4847  Toni & Guy Hairdressing Academy               ...    CA
4848  Fab School (The)                              ...    CA
4849  Arrojo Cosmetology School                     ...    NY
4850  Electrical Training Center (The)              ...    NY
4851  Cosmetology Academy Of Texarkana              ...    TX
4852  Trenz Beauty Academy                          ...    IL
4853  Barber School Of Pittsburgh                   ...    PA
4854  Mt Training Center                            ...    TX
4855  High Desert Medical College                   ...    CA
4856  Medquest College                              ...    KY
4857  Texas A&M University - Central Texas          ...    TX
4858  Ricci'S Toni & Guy Hairdressing Academy/ Tigi ...    CT
4859  Preparing People Barber Styling College       ...    TX
4860  Arizona School Of Integrative Studies         ...    AZ
4861  Christine Valmy International School Foresthet...    NY
4862  Presidio Graduate School                      ...    CA
4863  Salon Professional Academy (The)              ...    CA
4864  University Of North Texas At Dallas           ...    TX
4865  Texas A&M University-San Antonio              ...    TX
4866  Inter American University Of Puerto Rico - Sch...    PR
4867  Pacific Rim Christian University              ...    HI
4868  Clovis Community College                      ...    CA
4869  Inter American University Of Puerto Rico San G...    PR
4870  Arkansas State University - Mountain Home     ...    AR
4871  Northeast Lakeview College                    ...    TX
4872  Los Angeles Pacific University                ...    CA

                      LONGEST PROGRAM LENGTH SCHOOL TYPE  NUMBER IN DEFAULT  \
0         Master's Degree or Doctor's Degree      Public                378
1         Master's Degree or Doctor's Degree   Nonprofit                180
2         Master's Degree or Doctor's Degree      Public                 72
3         Master's Degree or Doctor's Degree      Public                466
4                         Associate's Degree      Public                131
5         Master's Degree or Doctor's Degree      Public                 66
6         Master's Degree or Doctor's Degree      Public                114
7                          Bachelor's Degree   Nonprofit                 15
8                         Associate's Degree      Public                433
9                         Associate's Degree      Public                 79
10        Master's Degree or Doctor's Degree      Public                149
11                         Bachelor's Degree   Nonprofit                 39
12        Master's Degree or Doctor's Degree      Public                292
13                        Associate's Degree      Public                205
14                         Bachelor's Degree   Nonprofit                 21
15        Master's Degree or Doctor's Degree      Public                149
16                        Associate's Degree      Public                 22
17                         Bachelor's Degree   Nonprofit                 87
18        Master's Degree or Doctor's Degree   Nonprofit                 39
19                        Associate's Degree      Public                 50
20        Master's Degree or Doctor's Degree   Nonprofit                 85
21        Master's Degree or Doctor's Degree   Nonprofit                 18
22                        Associate's Degree      Public                102
23                        Associate's Degree      Public                153
24        Master's Degree or Doctor's Degree   Nonprofit                 23
25                         Bachelor's Degree   Nonprofit                 93
26                         Bachelor's Degree   Nonprofit                 80
27        Master's Degree or Doctor's Degree      Public                747
28        Master's Degree or Doctor's Degree   Nonprofit                101
29        Master's Degree or Doctor's Degree      Public                306
...                                      ...         ...                ...
4843                      Associate's Degree  For-Profit                  3
4844  Non-Degree 3 Plus Years (? 2700 hours)  For-Profit                  5
4845      Non-Degree 1 Year (900-1799 hours)   Nonprofit                 15
4846    Non-Degree 2 Years (1800-2699 hours)  For-Profit                  9
4847      Non-Degree 1 Year (900-1799 hours)  For-Profit                  7
4848              Non-Degree (600-899 hours)  For-Profit                  6
4849      Non-Degree 1 Year (900-1799 hours)  For-Profit                  4
4850              Non-Degree (600-899 hours)  For-Profit                  5
4851      Non-Degree 1 Year (900-1799 hours)  For-Profit                 13
4852      Non-Degree 1 Year (900-1799 hours)  For-Profit                  4
4853      Non-Degree 1 Year (900-1799 hours)  For-Profit                  9
4854      Non-Degree 1 Year (900-1799 hours)  For-Profit                 20
4855    Non-Degree 2 Years (1800-2699 hours)  For-Profit                  5
4856                      Associate's Degree  For-Profit                 13
4857      Master's Degree or Doctor's Degree      Public                 21
4858      Non-Degree 1 Year (900-1799 hours)  For-Profit                  6
4859      Non-Degree 1 Year (900-1799 hours)  For-Profit                  5
4860              Non-Degree (600-899 hours)  For-Profit                  1
4861              Non-Degree (600-899 hours)  For-Profit                  6
4862      Master's Degree or Doctor's Degree   Nonprofit                 64
4863      Non-Degree 1 Year (900-1799 hours)  For-Profit                  3
4864      Master's Degree or Doctor's Degree      Public               1267
4865      Master's Degree or Doctor's Degree      Public                309
4866      Master's Degree or Doctor's Degree   Nonprofit               1513
4867                       Bachelor's Degree   Nonprofit                  7
4868                      Associate's Degree      Public                 35
4869      Master's Degree or Doctor's Degree   Nonprofit               1888
4870                      Associate's Degree      Public               1080
4871                      Associate's Degree      Public                148
4872      Master's Degree or Doctor's Degree   Nonprofit                123

      NUMBER ENTERING REPAYMENT  DEFAULT RATE
0                          1902          19.8
1                          1471          12.2
2                           784           9.1
3                          2208          21.1
4                           579          22.6
5                           924           7.1
6                          3750           3.0
7                           227           6.6
8                          2489          17.3
9                           377          20.9
10                         1547           9.6
11                          360          10.8
12                         2454          11.8
13                         1568          13.0
14                          132          15.9
15                         1889           7.8
16                          204          10.7
17                          774          11.2
18                          574           6.7
19                          330          15.1
20                          616          13.7
21                          914           1.9
22                          394          25.8
23                          915          16.7
24                          369           6.2
25                          406          22.9
26                          250          32.0
27                         7139          10.4
28                          876          11.5
29                         5814           5.2
...                         ...           ...
4843                         74           4.0
4844                        148           3.3
4845                         97          15.4
4846                         48          18.7
4847                         56          12.5
4848                         41          14.6
4849                         45           8.8
4850                         45          11.1
4851                         48          27.0
4852                         34          11.7
4853                         39          23.0
4854                         61          32.7
4855                        124           4.0
4856                        107          12.1
4857                        215           9.7
4858                         36          16.6
4859                         31          16.1
4860                         52           1.9
4861                         71           8.4
4862                       1795           3.5
4863                         33           9.0
4864                      17303           7.3
4865                       3357           9.2
4866                      16416           9.2
4867                         95           7.3
4868                        225          15.5
4869                      23711           7.9
4870                      13866           7.7
4871                       1353          10.9
4872                       3593           3.4

[4873 rows x 7 columns]

C:\Users\psimp\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Fuzzy Matching

In [13]:
from fuzzywuzzy import process, fuzz
import pandas as pd

In [14]:
names_array=[]
ratio_array=[]
def match_names(wrong_names,correct_names):
    for row in wrong_names:
        x=process.extractOne(row, correct_names)
        names_array.append(x[0])
        ratio_array.append(x[1])
    return names_array,ratio_array

In [21]:
#DATA
crc_names=CRC["College"]
default_names=Default["SCHOOL"]

In [25]:
name_match,ratio_match=match_names(crc_names[0:10],default_names[0:10])

0       86
1       56
2       86
3       86
4       86
5       86
6       86
7       86
8       86
9       86
10      86
11      86
12      86
13      86
14      86
15      86
16      86
17      86
18      86
19      86
20      86
21      86
22      48
23      86
24      86
25      86
26      86
27      86
28      62
29      86
        ..
3996    86
3997    86
3998    86
3999    86
4000    86
4001    86
4002    49
4003    86
4004    53
4005    86
4006    86
4007    86
4008    86
4009    86
4010    86
4011    61
4012    86
4013    86
4014    86
4015    50
4016    86
4017    56
4018    86
4019    86
4020    86
4021    86
4022    86
4023    86
4024    86
4025    86
Length: 4026, dtype: int64

In [17]:
default_names[0:10]

0    Alabama Agricultural & Mechanical University  ...
1    Faulkner University                           ...
2    University Of Montevallo                      ...
3    Alabama State University                      ...
4    Central Alabama Community College             ...
5    Athens State University                       ...
6    Auburn University                             ...
7    Birmingham-Southern College                   ...
8    Calhoun Community College                     ...
9    Enterprise State Community College            ...
Name: SCHOOL, dtype: object

In [22]:
default_names

0       Alabama Agricultural & Mechanical University  ...
1       Faulkner University                           ...
2       University Of Montevallo                      ...
3       Alabama State University                      ...
4       Central Alabama Community College             ...
5       Athens State University                       ...
6       Auburn University                             ...
7       Birmingham-Southern College                   ...
8       Calhoun Community College                     ...
9       Enterprise State Community College            ...
10      University Of North Alabama                   ...
11      Huntingdon College                            ...
12      Jacksonville State University                 ...
13      Jefferson State Community College             ...
14      Judson College                                ...
15      University Of West Alabama                    ...
16      Marion Military Institute                     ...
17      Miles College                                 ...
18      University Of Mobile                          ...
19      Northeast Alabama Community College           ...
20      Oakwood University                            ...
21      Samford University                            ...
22      Snead State Community College                 ...
23      Southern Union State Community College        ...
24      Spring Hill College                           ...
25      Stillman College                              ...
26      Talladega College                             ...
27      Troy University                               ...
28      Tuskegee University                           ...
29      University Of Alabama                         ...
                              ...
4843    Standard Healthcare Services, College Of Nursi...
4844    New Horizons Medical Institute                ...
4845    Philadelphia Technician Training Institute    ...
4846    Paul Mitchell The School Denver               ...
4847    Toni & Guy Hairdressing Academy               ...
4848    Fab School (The)                              ...
4849    Arrojo Cosmetology School                     ...
4850    Electrical Training Center (The)              ...
4851    Cosmetology Academy Of Texarkana              ...
4852    Trenz Beauty Academy                          ...
4853    Barber School Of Pittsburgh                   ...
4854    Mt Training Center                            ...
4855    High Desert Medical College                   ...
4856    Medquest College                              ...
4857    Texas A&M University - Central Texas          ...
4858    Ricci'S Toni & Guy Hairdressing Academy/ Tigi ...
4859    Preparing People Barber Styling College       ...
4860    Arizona School Of Integrative Studies         ...
4861    Christine Valmy International School Foresthet...
4862    Presidio Graduate School                      ...
4863    Salon Professional Academy (The)              ...
4864    University Of North Texas At Dallas           ...
4865    Texas A&M University-San Antonio              ...
4866    Inter American University Of Puerto Rico - Sch...
4867    Pacific Rim Christian University              ...
4868    Clovis Community College                      ...
4869    Inter American University Of Puerto Rico San G...
4870    Arkansas State University - Mountain Home     ...
4871    Northeast Lakeview College                    ...
4872    Los Angeles Pacific University                ...
Name: SCHOOL, Length: 4873, dtype: object